{{#each model as |legislator|}}
  <div {{action 'showLegislator' legislator}}>{{legislator-preview legislator=legislator}}</div>
{{/each}}

{{#if activeLegislator}}
  {{legislator-detail legislator=activeLegislator sponsoredBills=sponsoredBills}}
{{/if}}
